::selection {
  color: var(--suCSS-pallete-accent);
  background-color: var(--suCSS-pallete-bg-light);
}

::-moz-selection {
  color: var(--suCSS-pallete-accent);
  background-color: var(--suCSS-pallete-bg-light);
}

/* chromium scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  background: var(--suCSS-pallete-accent);
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--suCSS-pallete-bg-light);
}

/* firefox scrollbars */
* {
  scrollbar-color: var(--suCSS-pallete-accent) var(--suCSS-pallete-bg-light);
  scrollbar-width: thin;
}

html {
  font-family: var(--suCSS-sans-font);
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  color: var(--suCSS-pallete-text);
  background-color: var(--suCSS-pallete-bg);
  font-size: 1rem;
  max-width: 720px;
  margin: auto;
}



body > footer {
  color: var(--suCSS-pallete-text-light);
  font-size: 0.875;
}

/* Format headers */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0.5em 0;
}

/* Fix line height when title wraps */
h1,
h2,
h3 {
  line-height: 1.1;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  color: var(--suCSS-pallete-accent);
  content: '# ';
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.75rem;
  }
  h5 {
    font-size: 0.5rem;
  }
  h6 {
    font-size: 0.25rem;
  }
}

p {
  margin: 1rem 0;
}

/* format links */
a,
a:visited {
  text-decoration: none;
  border-radius: 0.125rem;
  color: var(--suCSS-pallete-link);
}

a:hover {
  background-color: var(--suCSS-pallete-link);
  color: var(--suCSS-pallete-bg);
}

/* format lists */
ul {
  list-style: none;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

ol {
  list-style-type: decimal;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

li {
  margin-bottom: 0.125rem;
  list-style-position: inside;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul li::marker {
  content: '» ';
  color: var(--suCSS-pallete-accent);
}

ul li:hover::marker {
  content: '# ';
  font-weight: 700;
  color: var(--suCSS-pallete-link);
}

ol li::marker {
  color: var(--suCSS-pallete-accent);
}

ol li:hover::marker {
  font-weight: 700;
  color: var(--suCSS-pallete-link);
}

/* Use flexbox to allow items to wrap, as needed */
header > nav ul,
header > nav ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: right;
  list-style-type: none;
  margin: 0.5rem 0 0 0;
  padding: 0;
  gap: 1rem;
}

/* List items are inline elements, make them behave more like blocks */
header > nav ul li,
header > nav ol li {
  display: inline-block;
}

/* Consolidate box styling */
details,
pre,
progress {
  background-color: var(--suCSS-pallete-bg-light);
  border-radius: var(--standard-border-radius);
}

details {
  padding: 0.5rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
  word-break: break-all;
}

details[open] > summary + * {
  margin-top: 0;
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

details[open] > :last-child {
  margin-bottom: 0;
}

/* Format tables */
table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

td,
th {
  border: 1px solid var(--suCSS-pallete-border);
  text-align: start;
  padding: 0.5rem;
}

th {
  background-color: var(--suCSS-pallete-bg-light);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--suCSS-pallete-bg-light);
}

table caption {
  text-align: left;
  font-weight: bold;
  margin: 0 0 0.4rem 1rem;
}

/* format forms */
fieldset {
  border: 1px dashed var(--suCSS-pallete-accent);
  border-radius: var(--standard-border-radius);
}

fieldset > legend {
  color: var(--suCSS-pallete-accent);
}

textarea,
select,
input,
button,
.button {
  font-size: inherit;
  font-family: inherit;
  padding: 0.25rem;
  border-radius: var(--standard-border-radius);
  box-shadow: none;
  max-width: 100%;
  display: inline-block;
}

textarea,
select,
input {
  color: var(--suCSS-pallete-text);
  background-color: var(--suCSS-pallete-bg);
  border: 1px dashed var(--suCSS-pallete-border);
}

label {
  display: block;
}

fieldset label {
  margin: 0 0 0.3rem 0;
}

textarea {
  max-width: 43.5rem;
  resize: both;
}

textarea:not([cols]) {
  width: 100%;
}

@media only screen and (max-width: 720px) {
  textarea,
  select,
  input {
    width: 100%;
  }
}

/* format buttons */
button,
.button,
a.button,
input[type='submit'],
input[type='reset'],
input[type='button'],
label[type='button'] {
  border: 1px solid var(--suCSS-pallete-accent);
  background-color: var(--suCSS-pallete-accent);
  color: var(--suCSS-pallete-accent-text);
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  line-height: normal;
}

.button[aria-disabled='true'],
input:disabled,
textarea:disabled,
select:disabled,
button[disabled] {
  cursor: not-allowed;
  background-color: var(--suCSS-pallete-bg-light);
  border-color: var(--suCSS-pallete-bg-light);
  color: var(--suCSS-pallete-text-light);
}

input[type='range'] {
  padding: 0;
  color: var(--suCSS-pallete-accent);
}

abbr[title] {
  cursor: help;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

button:enabled:hover,
.button:not([aria-disabled='true']):hover,
input[type='submit']:enabled:hover,
input[type='reset']:enabled:hover,
input[type='button']:enabled:hover,
label[type='button']:hover {
  background-color: var(--suCSS-pallete-accent-light);
  border-color: var(--suCSS-pallete-accent-light);
  cursor: pointer;
}

.button:focus-visible,
button:focus-visible:where(:enabled),
input:enabled:focus-visible:where([type='submit'], [type='reset'], [type='button']) {
  outline: 2px solid var(--suCSS-pallete-accent);
  outline-offset: 1px;
}

/* checkbox and radio button style */
input[type='checkbox'],
input[type='radio'] {
  vertical-align: middle;
  position: relative;
  width: min-content;
  width: 14px;
  height: 14px;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline-block;
}

input[type='radio'] {
  border-radius: 100%;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background-color: var(--suCSS-pallete-accent);
}

@media only screen and (max-width: 720px) {
  textarea,
  select,
  input {
    width: 100%;
  }
}

input[type='color'] {
  height: 2.5rem;
  padding: 0.2rem;
}

input[type='file'] {
  border: 0;
}

/* misc body elements */
hr {
  border: 1px dashed var(--suCSS-pallete-accent);
  margin: 0.5rem 0 0.5rem 0;
}

mark {
  padding: 0 0.25em 0 0.25em;
  border-radius: var(--standard-border-radius);
  background-color: var(--suCSS-pallete-accent);
  color: var(--suCSS-pallete-bg);
}

mark a {
  color: var(--suCSS-pallete-link);
}

img,
video {
  max-width: 90%;
  height: auto;
  padding: 0.125rem;
  border: dashed 2px var(--suCSS-pallete-accent);
  border-radius: 15px;
}

figure {
  margin: 0;
  display: block;
  overflow-x: auto;
}

figcaption {
  text-align: left;
  font-size: 0.875rem;
  color: var(--suCSS-pallete-text-light);
  margin: 0 0 1rem 1rem;
}

blockquote {
  margin: 0 0 0 1.25rem;
  padding-left: 0.5em;
  /* padding: 0.5rem 0 0 0.5rem; */
  border-inline-start: 0.375rem solid var(--suCSS-pallete-accent);
  color: var(--suCSS-pallete-text-light);
  font-style: italic;
}

blockquote cite {
  font-size: 0.875rem;
  color: var(--suCSS-pallete-text-light);
  text-align: right;
  display: block;
  font-style: italic;
  padding-right: 0.5em;
}

dt {
  color: var(--suCSS-pallete-text-light);
}

code,
pre,
pre span,
kbd,
samp {
  font-family: var(--suCSS-mono-font);
}

pre {
  border: 1px solid var(--suCSS-pallete-accent);
  max-height: 60rem;
  padding: 0.625rem;
  overflow: auto;
  font-style: monospace;
  white-space: pre-wrap;
}

p code,
li code,
div code {
  padding: 0 0.425rem 0 0.425rem;
  border-radius: 8px;
  color: var(--suCSS-pallete-text-light);
  background-color: var(--suCSS-pallete-bg-light);
}

kbd {
  border-radius: 3px;
  color: var(--suCSS-pallete-bg);
  background-color: var(--suCSS-pallete-text);
  display: inline-block;
  padding: 0px 4px;
  box-shadow: 1px 1px 1px #777;
  margin: 2px;
  font-size: small;
  vertical-align: text-bottom;
  background: #eee;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  font-variant: small-caps;
  font-weight: 600;

  /* This two work */
  /* letter-spacing: 0.5px; */
  letter-spacing: 1px;

  /* Prevent selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

kbd:hover, kbd:hover * {
  color: black;
  /* box-shadow: 1px 1px 1px #333; */
}
kbd:active, kbd:active * {
  color: black;
  box-shadow: 1px 1px 0px #ddd inset;
}

pre code {
  padding: 0;
  border-radius: 0;
  color: inherit;
  background-color: inherit;
}

iframe {
  max-width: 90%;
}

/* progress bars */
progress {
  width: 100%;
}

progress:indeterminate {
  background-color: var(--suCSS-pallete-bg-light);
}

progress::-webkit-progress-bar {
  border-radius: var(--standard-border-radius);
  background-color: var(--suCSS-pallete-bg-light);
}

progress::-webkit-progress-value {
  border-radius: var(--standard-border-radius);
  background-color: var(--suCSS-pallete-accent);
}

progress::-moz-progress-bar {
  border-radius: var(--standard-border-radius);
  background-color: var(--suCSS-pallete-accent);
  transition-property: width;
  transition-duration: 0.3s;
}

progress:indeterminate::-moz-progress-bar {
  background-color: var(--suCSS-pallete-bg-light);
}

dialog {
  max-width: 40rem;
  margin: auto;
}

dialog::backdrop {
  background-color: var(--suCSS-pallete-bg);
  opacity: 0.8;
}

@media only screen and (max-width: 720px) {
  dialog {
    max-width: 100%;
    margin: auto 1em;
  }
}

/* superscript & subscript */
/* prevent scripts from affecting line-height. */
sup,
sub {
  vertical-align: baseline;
  position: relative;
}

sup {
  top: -0.4em;
}

sub {
  top: 0.3em;
}

article {
  font-family: var(--sans-font);
}

article p {
  text-indent: 2em;
}
